header{
    position: relative;
    min-height: 100vh;
    color: #F5EFE7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .container{
        z-index: 1;
        position: relative;        
    }

    .bg-container{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
        padding: 35px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    
    }
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.btn-gradient{
    background: linear-gradient(135deg, #df3131, #a32c1c);
    border: none;
    color: #F5EFE7;
    transition: all 0.3s;

    &:hover{
        opacity: 0.85;
    }
}

section{
    padding: 80px 0;
}

body{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-gradient-red{
    background: linear-gradient(135deg, #700122, #f36363);
    color: #F5EFE7;
}

.bg-gradient-gold{
    background: linear-gradient(135deg,#f0c44c, #cea317);
    color: #F5EFE7;
}

.card-hover{
    transition: transform 0.3s box-shadow 0.3s;

    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

footer{
    background: #222;
    color: #F5EFE7;

    .redes-sociais {
        display: flex; /* Alinha os ícones em linha */
        justify-content: center; /* Centraliza os ícones */
        margin-top: 10px; /* Espaço acima dos ícones */
        gap: 15px; /* Espaçamento entre os ícones */
      }
      
      .redes-sociais img {
        width: 30px; /* Largura do ícone */
        height: 30px; /* Altura do ícone */
        /* Adicione transição para efeito de hover, se desejar */
        transition: transform 0.3s ease; 
      }
      
      .redes-sociais img:hover {
        transform: scale(1.1); /* Efeito de "zoom" no hover */
      }
      
      /* Opcional: Link para abrir em nova aba */
      .redes-sociais a {
        text-decoration: none; /* Remove sublinhado */
      }
}


.bg-nav-custom{
    background: goldenrod;
}

.bg-card-custom{
    background: #797575;
}

.bg-marca-custom{
    background: #700122;
}

.bg-estilo{
    background:rgba(#F5EFE7);
}

