header{
    position: relative;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .container{
        z-index: 1;
        position: relative;        
    }

    .bg-container{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
        padding: 35px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    
    }
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.btn-gradient{
    background: linear-gradient(135deg, #df3131, #a32c1c);
    border: none;
    color: #fff;
    transition: all 0.3s;

    &:hover{
        opacity: 0.85;
    }
}

section{
    padding: 80px 0;
}

body{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-gradient-red{
    background: linear-gradient(135deg, #d62626, #f36363);
    color: #fff;
}

.bg-gradient-gold{
    background: linear-gradient(135deg,#f0c44c, #cea317);
    color: #fff;
}

.card-hover{
    transition: transform 0.3s box-shadow 0.3s;

    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

footer{
    background: #222;
    color: #fff;
}

.bg-nav-custom{
    background: goldenrod;
}

.bg-card-custom{
    background: #797575;
}

.bg-marca-custom{
    background: #680e0e;
}